GITPOD_WORKSPACE_ID=
GITPOD_WORKSPACE_CLUSTER_HOST=
AWS_DEFAULT_REGION=us-east-1
REACT_APP_AWS_USER_POOLS_ID=us-east-1_4RnA4Ed2q
REACT_APP_CLIENT_ID=6nscku3k5ij847p4drsfis74ge
### WORKS WITHOUT DB PATH SPECIFIED
CONNECTION_URL=postgresql://postgres:password@pg-db-local:5432
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=AKIAS2FVS7ASR2VZURGN

ROLLBAR_ACCESS_TOKEN=c29dc6d47d7a4580b3942e061d8212cdbbde50a3a804c581ebdf6c470ffb1cb9a5c94f21c79bb78ab12eb9a93f07c00f