GITPOD_WORKSPACE_ID=
GITPOD_WORKSPACE_CLUSTER_HOST=
AWS_DEFAULT_REGION=
REACT_APP_AWS_USER_POOLS_ID=
REACT_APP_CLIENT_ID=6nscku3k5ij847p4drsfis74ge
LOCAL_CONNECTION_URL=postgresql://postgres:password@localhost:5432/cruddur
CONNECTION_URL=