GITPOD_WORKSPACE_ID=
GITPOD_WORKSPACE_CLUSTER_HOST=
AWS_DEFAULT_REGION=us-east-1
REACT_APP_AWS_USER_POOLS_ID=us-east-1_4RnA4Ed2q
REACT_APP_CLIENT_ID=6nscku3k5ij847p4drsfis74ge
REACT_APP_API_GATEWAY_ENDPOINT_URL=
### WORKS WITHOUT DB PATH SPECIFIED
CONNECTION_URL=postgresql://postgres:password@pg-db-local:5432
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
ROLLBAR_ACCESS_TOKEN=