UPLOADS_BUCKET_NAME="uploads-avatar-cruddur"
ASSETS_BUCKET_NAME="assets.mustaphaops.online"
THUMBING_S3_FOLDER_INPUT="avatars/original"
THUMBING_S3_FOLDER_OUTPUT="avatars/processed"
THUMBING_WEBHOOK_URL="https://api.mustaphaops.online/webhooks/avatar"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_FUNCTION_PATH="/home/sutneppa/aws-bootcamp-cruddur-2023/aws/lamda/process-images"